[Unit]
Description=Alert Manager
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ alertmanager_container }}
ExecStart=/usr/bin/docker run --rm --network host --name %n -v /etc/alertmanager:/etc/alertmanager -v deepops_alertmanager_metrics:/alertmanager prom/alertmanager:latest --cluster.peer=176.56.200.108:9094 --config.file=/etc/alertmanager/alertmanager.yml

[Install]
WantedBy=multi-user.target
